---
import { SITE_AUTHOR, THEME_COLOR } from "../consts";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={SITE_AUTHOR} />
    <meta name="theme-color" content={THEME_COLOR} />

    <link rel="icon" type="image/svg+xml" href="/rose.png" />

    <meta name="og:type" content="website" />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:url" content={Astro.url} />

    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-6E0Q0JNYP1"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-6E0Q0JNYP1");
    </script>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>